{
  "root": true,
  "extends": [
    "airbnb",
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "default-case": "off",
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "max-len": [
      "off",
      {
        "code": 200
      }
    ],
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "radix": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "log",
          "info",
          "warn",
          "error"
        ]
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "import/no-extraneous-dependencies": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "react/jsx-filename-extension": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "consistent-return": "off",
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-unused-vars": "warn"
  }
}
